; -------------------------------------------------------
; Tritonia Waveguide
; (C)2021 Marcel Batik licensed under CC BY-NC-SA 4.0
; -------------------------------------------------------

OSSE = {
  L = 135.0  ; [mm]
  r0 = 36.0  ; [mm]
  a0 = 4.2  ; [deg]
  a = 48.5 - 7.0*cos(2.0*p)^5.0 - 16.0*sin(p)^12.0  ; [deg]
  s = 0.7 + 0.2*cos(p)^2
  n = 3.7
  q = 0.995
  k = 1.0
}

; Morphing the raw OSSE shape into a rectangle
Morph.TargetShape = 1
Morph.FixedPart = 0.0
Morph.Rate = 3.0
Morph.CornerRadius = 18 ; [mm]

; -------------------------------------------------------
; Mesh Setting
; -------------------------------------------------------

; ABEC
Mesh.AngularSegments = 80
Mesh.LengthSegments = 26
Mesh.CornerSegments = 4

;Fusion 360
;Mesh.AngularSegments = 60
;Mesh.LengthSegments = 16
;Mesh.CornerSegments = 5

Mesh.ThroatResolution = 5
Mesh.MouthResolution = 10
Mesh.InterfaceResolution = 7

Mesh.SubdomainSlices = 26

; -------------------------------------------------------
; ABEC Project Setting
; -------------------------------------------------------

ABEC.SimType = 1
ABEC.f1 = 400 ; [Hz]
ABEC.f2 = 12000 ; [Hz]
ABEC.NumFrequencies = 40
ABEC.MeshFrequency = 1000 ; [Hz]

ABEC.Polars:SPL_H = {
  MapAngleRange = 0,90,19
  Distance = 2     ; [m]
  Offset = 145     ; [mm]
}

ABEC.Polars:SPL_V = {
  MapAngleRange = 0,90,19
  Distance = 2      ; [m]
  Offset = 145
  Inclination = 90
}

ABEC.Polars:SPL_D = {
  MapAngleRange = 0,90,19
  Distance = 2      ; [m]
  Offset = 145
  Inclination = 42
}

Output.ABECProject = 1
Output.STL = 0

Report = {
  Title = Tritonia
  PolarData = SPL_H
  NormAngle = 10
}
