Scale = 0.48

Throat.Profile = 1 ; OS-SE
Throat.Diameter = 52.917 ; = 25.4/Scale [mm]
Throat.Angle = 10 ; [deg]
Length = 135 ; [mm]

Coverage.Angle = 48.5 - 7*cos(2*p)^5 - 16*sin(p)^12 ; [deg]

; OS-SE termination
Term.s = 0.7 + 0.2*cos(p)^2
Term.n = 3.7
Term.q = 0.992

; Raw shape -> rectangle transformation
Morph.TargetShape = 1
Morph.FixedPart = 0.0
Morph.Rate = 3
Morph.CornerRadius = 18 ; [mm]

; Mesh
Mesh.Quadrants = 1234
Mesh.AngularSegments = 80
Mesh.LengthSegments = 36
Mesh.CornerSegments = 4
Mesh.ThroatResolution = 4
Mesh.MouthResolution = 10

; ABEC
ABEC.SimType = 2
ABEC.f1 = 1200
ABEC.f2 = 16000
ABEC.NumFrequencies = 40
ABEC.Abscissa = 2

; Source
Source.Shape = 2
Source.Radius = 25.4
Source.Velocity = 2

; Output
Output.DestDir = "D:/pythonGATH"
Output.STL = 2
Output.MSH = 2
Output.ABECProject = 0

; Polar Map
ABEC.Polars:SPL_H = {
  MapAngleRange = 0,180,37
  NormAngle = 10
  Distance = 2
}

; Report
Report = {
  Title = "ATH Tritonia-S"
  PolarData = SPL_H
  NormAngle = 10
}

; Advanced / Preserved Blocks
; --- Fusion 360 / CAD Export ---
GridExport: = {
  ExportSlices = 1
  ExportProfiles = 0
}
