; temp preview test
Output.DestDir = "E:/pythonGATH/ath-2025-06/athpreview"
Throat.Diameter = 25.4
Throat.Angle = 10
Coverage.Angle = 45
Length = 60
Term.s = 1
Term.q = 0.98
Term.n = 4
Mesh.LengthSegments = 8
Mesh.AngularSegments = 16
Output.STL = 1
Output.MSH = 1
Output.ABECProject = 0
